.App {
  text-align: center;
  align-items: center;
  /* background-color: #e3d4c5; */
  background: linear-gradient(90.21deg, rgba(219, 213, 217, 0.5) -5.91%, #E3D4C5 111.58%);
  width: 100%;
}


/* Large desktop */
@media (min-width: 1200px) {
  /* .flip-card {
    padding-bottom: 10%;
    margin-bottom: 20px;
    background-color: transparent;
    width: 300px;
    height: 250px;
    font-family: sans-serif;
    margin-bottom: 10px;
    align-items: center;
  } */
}

@media (min-width: 990px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  #Services {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 40px 0 100px 0;
    /* background-position: top center; */
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(90.21deg, rgba(219, 213, 217, 0.5) -5.91%, #E3D4C5 111.58%);
  }

  /* New Card Styling */
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 250px;
    font-family: sans-serif;
    margin-bottom: 10px;
    align-items: center;
  }

  .flip-card-inner {
    background-color: transparent;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }

  .flip-card-front {
    color: black;
  }

  .flip-card-back {
    color: black;
    transform: rotateY(180deg);
  }

  .services button {
    font-weight: 500;
    color: #000;
    background-color: #fff;

    padding: 6px 20px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 15px;
    position: relative;
    transition: 0.3s ease-in-out;
  }

  .services button span {
    z-index: 1;
    position: relative;
  }

  .services button:hover {
    color: rgb(17, 17, 17);
  }

  .services button:hover::before {
    width: 100%;
  }


}

.body {
  background-image: url("../src/assets/Q&T-26.jpg");
  background-color: #cccccc;
}

/* Ensure page uses full width */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}


/* Carousel Css */
#home {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.CCarousel img {
  max-height: 790px;
  min-width: auto;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

/************ About Me Banner Css ************/
.banner {
  margin-top: 0;
  padding: 40px 0 20px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(90.21deg, rgba(219, 213, 217, 0.5) -5.91%, #E3D4C5 111.58%);
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  font-size: 12px;
  margin-bottom: 12px;
  display: inline-block;
}

.banner h2 {
  color: white;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1;
  display: block;
}

.banner p {
  color: #000000;
  font-size: 18px;
  /* letter-spacing: 0.2px; */
  line-height: 1.5em;
  width: 96%;
}

.banner img {
  width: 80%;
  height: auto;
  border-radius: 30%;
  position: relative;
}



/************ Services Css ************/
/* Look at using width as a percentage and then height as aspect ratio to width */
#services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 40px 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(90.21deg, rgba(219, 213, 217, 0.5) -5.91%, #E3D4C5 111.58%);
}

/* New Card Styling */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 250px;
  font-family: sans-serif;
  margin-bottom: 10px;
  align-items: center;
}

.flip-card-inner {
  background-color: transparent;
  text-align: center;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  color: black;
  transform: rotateY(180deg);
}

.services button {
  font-weight: 500;
  color: #000;
  background-color: #fff;

  padding: 6px 20px;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 15px;
  position: relative;
  transition: 0.3s ease-in-out;
}

.services button span {
  z-index: 1;
  position: relative;
}

.services button:hover {
  color: rgb(17, 17, 17);
}

.services button:hover::before {
  width: 100%;
}

/* New Card Styling End */




/************ Contact Css ************/

.main-contact {
  display: flex;
  flex-direction: row;

}

.contact {
  flex-direction: column;
  padding: 60px 0 50px 0;
}

.contact img {
  width: 80%;
  height: auto;
  border-radius: 30%;
  position: relative;
}

.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
  color: white;
}

.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #0a0a0a;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: rgb(7, 7, 7);
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: white;
  opacity: 0.8;
}

.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;

  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 15px;
  position: relative;
  transition: 0.3s ease-in-out;
}

.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover {
  color: #fff;
}

.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
  width: 100%;
}

/************ Footer Css ************/
.footer {
  padding: 0 0 50px 0;
  background: linear-gradient(90.21deg, rgba(219, 213, 217, 0.5) -5.91%, #E3D4C5 111.58%);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 2px;
}

.newsletter-bx {
  background: #FFFFFF;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}

.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}

.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}

.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}

.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}

.new-email-bx button {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}

.footer img {
  width: 26%;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #070707;
  /* color: #B8B8B8; */
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}


/* New Testimonial Styling */
.section-three-main-div {
  background-image: url("../src/assets/pexels-matt-hardy-1533720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: auto;
  min-height: 350px;
  display: grid;
  grid-template-rows: 1fr 50px;
  justify-items: center;
  row-gap: 1rem;
  /* background-color: rgb(250, 251, 253); */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.quotes-img-right {
  margin-top: 40px;

  justify-self: end;
  background-image: url(../src/assets/right.png);
  margin-right: 20px;
}

.quotes-img-left {
margin-top: 40px;

  background-image: url(../src/assets/left.png);
  margin-left: 20px;
}

.section-three-sub-div-one {

  display: grid;
  grid-template-columns: 10% 1fr 10%;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.main-quotes-div {
  /* width: 1110px; */
  transition: 1s;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.quotes-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 23px;
}

/* ------------------ */
.para {
  color: white;
  margin-top: 40px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.subText {
  margin-top: 1rem;
  font-size: 14px;
  color: #ddd5d5;
}

.myDot {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 5.5px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
  background: rgb(130, 126, 119);
}

.myDot--active {
  background: rgb(24, 24, 21);
}

.not-visible {
  opacity: 0;
  transition: 1s;
}

@media (max-width: 767px) {

  .section-three-sub-div-one {
    grid-template-columns: 15% 1fr 15%;
  }
}

/********************* Mobile Styling *****************/

/* Import back into Mobile Styling */


/* Landscape phones and down */
@media (max-width: 480px) {

  .App {
    text-align: center;
    align-items: center;
    background-color: #e3d4c5;
    width: 100%;
  }


  .section-three-main-div {
    background-image: url("../src/assets/pexels-matt-hardy-1533720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    min-height: 250px;
    display: grid;
    grid-template-rows: 1fr 50px;
    justify-items: center;
    row-gap: 1rem;
    /* background-color: rgb(250, 251, 253); */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }


  .backGround {
    background-image: url("../src/assets/pexels-matt-hardy-1533720.jpg");
    border-radius: 10px;
    /* background-size: cover; */
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    min-height: 250px;
  }

  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }

  .myCarousel {

    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }

  .contact {
    background: linear-gradient(90.21deg, rgba(219, 213, 217, 0.5) -5.91%, #E3D4C5 111.58%);
    background-image: none;
    padding: 60px 0 50px 0;
  }

  #services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0 100px 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: -10px;
    background: linear-gradient(90.21deg, rgba(219, 213, 217, 0.5) -5.91%, #E3D4C5 111.58%);
  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 250px;
    font-family: sans-serif;
    margin-bottom: 15px;
    align-items: center;
  }


  .contact {
    padding: 60px 0 50px 0;
  }

  .contact img {
    visibility: hidden;
    width: 80%;
    height: auto;
    border-radius: 30%;
    position: relative;
  }

  .contact h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
    color: white;
  }

  .contact form input,
  .contact form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #0a0a0a;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
  }

  .contact form input:focus,
  .contact form textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: rgb(7, 7, 7);
  }

  .contact form input::placeholder,
  .contact form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: white;
  }

  .contact form input:focus::placeholder,
  .contact form textarea:focus::placeholder {
    color: white;
    opacity: 0.8;
  }

  .contact form button {
    font-weight: 700;
    color: #000;
    background-color: #fff;

    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 15px;
    position: relative;
    transition: 0.3s ease-in-out;
  }

  .contact form button span {
    z-index: 1;
    position: relative;
  }

  .contact form button:hover {
    color: #fff;
  }

  .contact form button::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }

  .contact form button:hover::before {
    width: 100%;
  }

}

/* 
Importing old Testimonial CSS */

.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: #fff !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }

  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}